.password-required-form {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    line-height: 20px;
  }
  &__field {
    width: 100%;
  }
  &__input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    transition:
      0.15s ease-in-out border-color,
      0.15s ease-in-out box-shadow;
    box-sizing: border-box;
    margin-bottom: 4px;

    &:focus {
      outline: 2px solid #4c7ee7;
    }
  }
  &__error {
    min-height: 12px;
    font-size: 10px;
    display: flex;
    color: #ff0000;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  &__button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, #4c7ee7, #5a8ee6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:
      5px 10px 20px rgba(76, 126, 231, 0.3),
      -0px -10px 30px #ffffff;
    transition:
      0.15s ease-in-out background-color,
      0.15s ease-in-out box-shadow;

    &:hover {
      background: linear-gradient(145deg, #5a8ee6, #6b9df5);
      box-shadow:
        10px 20px 30px rgba(76, 126, 231, 0.47),
        -0px -20px 60px #ffffff;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
      background: linear-gradient(145deg, #4c7ee7, #5a8ee6);
      box-shadow: 10px 20px 30px rgba(76, 126, 231, 0.3);
    }
  }
}
